.weather-icon {
    width: 120px;
}

.weather {
    width: 350px;
    border-radius: 8px;
    color:black;
    background-color: bisque;
    margin: 30px auto 0 auto;
    padding: 20px;
}

.top, .bottom, .parameter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.city {
    font-weight: 500;
    font-size: 17px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.weather-desp {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.temperature {
    font-weight: 800;
    font-size: 60px;
    margin: 10 5;
}

.details {
    width: 100%;
    padding-left: 30px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}

.parameter-value {
    font-size: 12px;
    font-weight: 700;
    text-align: right;
}

.parameter-label.title {
    font-size: large;
}

.foreCast-item {
    background-color: whitesmoke;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
}

.foreCast-item-day {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.foreCast-item-temp {
    font-size: 20px;
    font-weight: 300;
}

.foreCast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}